﻿
@{
    ViewBag.Title = "GetGridList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center"> Inquiry List</h2>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card bootstrap-table">
                    <div class="card-body table-full-width">
                        <div class="toolbar">
                        </div>
                        <table id="bootstrap-table" class="table">
                            <thead>
                            <th style="display:none">Id</th>
                            <th data-sortable="true">Name</th>
                            <th data-sortable="true">Mobile</th>
                            <th data-sortable="true">Type</th>
                            <th data-sortable="true">Project</th>
                            <th data-sortable="true">Purpose</th>
                            <th data-sortable="true">Email</th>
                            <th data-sortable="true">City</th>
                            <th class="td-actions text-right" data-events="operateEvents" data-formatter="operateFormatter">Actions</th>
                            </thead>
                            <tbody id="tabledata"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
<script>
        var table = $('#bootstrap-table');
        function operateFormatter(value, row, index) {
            return [
                '<a rel="tooltip" title="View" class="btn btn-link btn-info table-action view" href="javascript:void(0)">',
                '<i class="fa fa-image"></i>',
                '</a>',
                '<a rel="tooltip" title="Edit" class="btn btn-link btn-warning table-action edit" href="javascript:void(0)">',
                '<i class="fa fa-edit"></i>',
                '</a>',
                '<a rel="tooltip" title="Remove" class="btn btn-link btn-danger table-action remove" href="javascript:void(0)">',
                '<i class="fa fa-remove"></i>',
                '</a>',
                '<button rel="tooltip" title="Add Inquiry" class="btn btn-link btn-info table-action remove" onclick="getcurrentdata(this)">',
                '<i class="fa fa-file"></i>',
                '</button>'
            ].join('');
        }
        $().ready(function () {

            $('#bootstrap-table').bootstrapTable({

                'url': "/Inquiry/GetAllCallerDetails/",
                'type': "GET",
                //"processing": true,
               // "serverSide": true,
                //"ajax": "/Inquiry/GetAllCallerDetails/",
                //"type" : "GET",
                "columns": [
                    {
                        "data": "callerid",
                        field: "callerid",
                        visible:false
                    },
                    {
                        "data": "FirstName",
                        field: "FirstName"
                    },
                    {
                        "data": "Mobile",
                        field: "Mobile"
                    },
                    {
                        "data": "txtrequirementtype",
                        field: "txtrequirementtype"
                    },
                    {
                        "data": "txtpurpose",
                        field: "txtpurpose"
                    },
                    {
                        "data": "txtinquiryproject",
                        field: "txtinquiryproject"
                    },
                    {
                        "data": "Email",
                        field: "Email"
                    },
                    {
                        "data": "City",
                        field: "City"
                    }

                ],
                toolbar: ".toolbar",

    clickToSelect: true,
    showRefresh: true,
    search: true,
    showToggle: true,
    showColumns: true,
    pagination: true,
    searchAlign: 'left',
    pageSize: 8,
    clickToSelect: false,
    pageList: [8, 10, 25, 50, 100],

    formatShowingRows: function(pageFrom, pageTo, totalRows) {
    //do nothing here, we don't want to show the text "showing x of y from..."
    },
    formatRecordsPerPage: function(pageNumber) {
    return pageNumber + " rows visible";
    },
                formatNoMatches: function () {

                    return 'No matching records found';
                },
    icons: {
    refresh: 'fa fa-refresh',
    toggle: 'fa fa-th-list',
    columns: 'fa fa-columns',
    detailOpen: 'fa fa-plus-circle',
    detailClose: 'fa fa-minus-circle'
    }
            });
          //  column(0).visible(false);


    //activate the tooltips after the data table is initialized
            $('[rel="tooltip"]').tooltip();

    $(window).resize(function() {
        $('#bootstrap-table').bootstrapTable('resetView');
            });

            var inqirydata = "<button class='btn btn-outline' type='button name='Add Inquiry' id='btnaddinquiry' title='Add User Inquiry' onclick='addnewinqiry()'><i class='glyphicon fa fa-user-plus'></i></button>";
            $(".columns-right").append(inqirydata);

        });

        function getcurrentdata(item) {
            
            var data = $(item).closest("tr")   // Finds the closest row <tr>
                .find("td:eq(1)")     // Gets a descendent with class="nr"
                .text();
           var link = '@Url.Action("Index", "Inquiry", new { mobileno = "replace" })';
            link = link.replace("replace", data);
            window.location = link;

        }


    function addnewinqiry() {
        window.location.href =  '@Url.Action("Index","Inquiry")';
        }

</script>

}
