﻿@using NSDesai.Models;
@model Tuple<tblcall,tblcaller>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <form id="wizardForm" method="Post" action="">
                    <div class="card card-wizard">
                        <div class="card-header ">
                            <h3 class="card-title text-center"> Add Inquiry Details </h3>
                            <p class="card-category text-center"> Add user details for project inquiry </p>
                        </div>
                    <div class="card-body">
                    
                    <ul class="nav nav-tabs">
                        <li class="nav-item" id="collapse1">
                            <a class="nav-link active" href="#tab1" data-toggle="tab" role="tab" aria-controls="tab1" aria-selected="true">Caller Details</a>
                        </li>
                        <li class="nav-item" id="collapse2">
                            <a class="nav-link" href="#tab2" data-toggle="tab" role="tab" aria-controls="tab2" aria-selected="true">Inquiry Details</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                        @*<div class="col-md-12">*@
                        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                        <div class="row justify-content-center">
                            <div class="col-md-5" style="display: none">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Item2.idcaller, htmlAttributes: new {@class = "control-label  hiddendiv"})
                                    <div>
                                        @Html.EditorFor(model => model.Item2.idcaller, new {htmlAttributes = new {@class = "hiddendiv form-control"}})
                                        @Html.ValidationMessageFor(model => model.Item2.idcaller, "", new {@class = "text-danger hiddendiv"})
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Item2.FirstName, htmlAttributes: new {@class = "control-label requirecss"})
                                    <div>
                                        @Html.EditorFor(model => model.Item2.FirstName, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(model => model.Item2.FirstName, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Item2.Email, htmlAttributes: new {@class = "control-label requirecss"})
                                    <div>
                                        @Html.EditorFor(model => model.Item2.Email, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(model => model.Item2.Email, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Item2.Mobile, htmlAttributes: new {@class = "control-label requirecss "})
                                    <div>
                                        @Html.EditorFor(model => model.Item2.Mobile, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(model => model.Item2.Mobile, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Item2.Address, htmlAttributes: new {@class = "control-label"})
                                    <div>
                                        @Html.EditorFor(model => model.Item2.Address, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(model => model.Item2.Address, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Item2.State, htmlAttributes: new {@class = "control-label requirecss"})
                                    <div>
                                        @Html.EditorFor(model => model.Item2.State, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(model => model.Item2.State, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Item2.City, htmlAttributes: new {@class = "control-label requirecss"})
                                    <div>
                                        @Html.EditorFor(model => model.Item2.City, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(model => model.Item2.City, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Item2.ZipCode, htmlAttributes: new {@class = "control-label"})
                                    <div>
                                        @Html.EditorFor(model => model.Item2.ZipCode, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(model => model.Item2.ZipCode, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Item2.CallerType, htmlAttributes: new {@class = "control-label"})
                                    <div>
                                        @Html.EditorFor(model => model.Item2.CallerType, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(model => model.Item2.CallerType, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Item2.pancardnos, htmlAttributes: new {@class = "control-label"})
                                    <div>
                                        @Html.EditorFor(model => model.Item2.pancardnos, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(model => model.Item2.pancardnos, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Item2.attachmentdoc, htmlAttributes: new {@class = "control-label"})
                                    <div>
                                        @Html.EditorFor(model => model.Item2.attachmentdoc, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(model => model.Item2.attachmentdoc, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-5">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Item2.attachmentphoto, htmlAttributes: new {@class = "control-label"})
                                    <div>
                                        @Html.EditorFor(model => model.Item2.attachmentphoto, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(model => model.Item2.attachmentphoto, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-5">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Item2.bankaccount, htmlAttributes: new {@class = "control-label"})
                                    <div>
                                        @Html.EditorFor(model => model.Item2.bankaccount, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(model => model.Item2.bankaccount, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab2" role="tabpanel">
                        <div class="row justify-content-center">
                            <div class="col-md-5" style="display: none">
                                <div class="form-group">
                                    @Html.LabelFor(model => Model.Item1.idcall, htmlAttributes: new {@class = "control-label"})
                                    <div>
                                        @Html.EditorFor(model => Model.Item1.idcall, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(model => Model.Item1.idcall, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Item1.dtinquirycall, htmlAttributes: new {@class = "control-label requirecss"})
                                    <div>
                                        @Html.EditorFor(model => model.Item1.dtinquirycall, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(model => model.Item1.dtinquirycall, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Item1.txtareareqmin, htmlAttributes: new {@class = "control-label requirecss"})
                                    <div>
                                        @Html.EditorFor(model => model.Item1.txtareareqmin, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(model => model.Item1.txtareareqmin, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-5">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Item1.txtareareqmax, htmlAttributes: new {@class = "control-label requirecss"})
                                    <div>
                                        @Html.EditorFor(model => model.Item1.txtareareqmax, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(model => model.Item1.txtareareqmax, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Item1.txtstatus, htmlAttributes: new {@class = "control-label requirecss"})
                                    <div>
                                        @Html.EditorFor(model => model.Item1.txtstatus, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(model => model.Item1.txtstatus, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Item1.txtbudgetmin, htmlAttributes: new {@class = "control-label requirecss"})
                                    <div>
                                        @Html.EditorFor(model => model.Item1.txtbudgetmin, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(model => model.Item1.txtbudgetmin, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Item1.txtbudgetmx, htmlAttributes: new {@class = "control-label requirecss"})
                                    <div>
                                        @Html.EditorFor(model => model.Item1.txtbudgetmx, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(model => model.Item1.txtbudgetmx, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Item1.txtratequoted, htmlAttributes: new {@class = "control-label"})
                                    <div>
                                        @Html.EditorFor(model => model.Item1.txtratequoted, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(model => model.Item1.txtratequoted, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Item1.txttermasked, htmlAttributes: new {@class = "control-label requirecss"})
                                    <div>
                                        @Html.EditorFor(model => model.Item1.txttermasked, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(model => model.Item1.txttermasked, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Item1.txttermoffered, htmlAttributes: new {@class = "control-label"})
                                    <div>
                                        @Html.EditorFor(model => model.Item1.txttermoffered, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(model => model.Item1.txttermoffered, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Item1.txtinquirymedium, htmlAttributes: new {@class = "control-label requirecss"})
                                    <div>
                                        @Html.EditorFor(model => model.Item1.txtinquirymedium, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(model => model.Item1.txtinquirymedium, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Item1.dtfollowupdate, htmlAttributes: new {@class = "control-label requirecss"})
                                    <div>
                                        @Html.EditorFor(model => model.Item1.dtfollowupdate, new {@type = "text", htmlAttributes = new {@class = "form-control datepicker", @type = "text"}})
                                        @Html.ValidationMessageFor(model => model.Item1.dtfollowupdate, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Item1.txtmeetingnotes, htmlAttributes: new {@class = "control-label requirecss"})
                                    <div>
                                        @Html.EditorFor(model => model.Item1.txtmeetingnotes, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(model => model.Item1.txtmeetingnotes, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Item1.txtarrangedate, htmlAttributes: new {@class = "control-label requirecss"})
                                    <div>
                                        @Html.EditorFor(model => model.Item1.txtarrangedate, new {htmlAttributes = new {@class = "form-control datepicker", @type = "text"}})
                                        @Html.ValidationMessageFor(model => model.Item1.txtarrangedate, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Item1.txtpurpose, htmlAttributes: new {@class = "control-label"})
                                    <div>
                                        @Html.EditorFor(model => model.Item1.txtpurpose, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(model => model.Item1.txtpurpose, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Item1.txtinquiryproject, htmlAttributes: new {@class = "control-label requirecss"})
                                    <div>
                                        @* @Html.EditorFor(model => model.txtinquiryproject, new { htmlAttributes = new { @class = "form-control" } })*@
                                        @Html.DropDownListFor(model => model.Item1.txtinquiryproject, new SelectList(ViewBag.propertylist, "", ""), new {@class = "form-control"})
                                        @Html.ValidationMessageFor(model => model.Item1.txtinquiryproject, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Item1.txtrequirementtype, htmlAttributes: new {@class = "control-label requirecss"})
                                    <div>
                                        @*  @Html.EditorFor(model => model.txtrequirementtype, new { htmlAttributes = new { @class = "form-control" } })*@
                                        @Html.DropDownListFor(model => model.Item1.txtrequirementtype, new SelectList(ViewBag.propertypelist, "", ""), new {@class = "form-control"})
                                        @Html.ValidationMessageFor(model => model.Item1.txtrequirementtype, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    </div>

                    </div>

                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-default btn-wd btn-back pull-left">Back</button>
                            <button type="button" class="btn btn-info btn-wd btn-next pull-right">Next</button>
                            @*<button type="button" class="btn btn-info btn-wd btn-finish pull-right" onclick="onFinishWizard()">Finish</button>*@
                            <input type="submit" class="btn btn-info btn-wd btn-finish pull-right" name="Submit" value="Submit"/>
                            @*@*<div class="clearfix"></div>*@
                        </div>
                    </div>
        </form>
    </div>
            @*<br/>
            <table id="tblinquirydata" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Caller Name</th>
                        <th>Requiment Type</th>
                        <th>Status</th>
                        <th>Min Budget</th>
                        <th>Max Budget</th>                       
                    </tr>
                </thead>
                <tbody id="fillstaff"></tbody>
                <tfoot>
                    <tr>
                        <th>Caller Name</th>
                        <th>Requiment Type</th>
                        <th>Status</th>
                        <th>Min Budget</th>
                        <th>Max Budget</th>                       
                    </tr>
                </tfoot>
            </table>*@
</div>
    </div>
</div>

@section scripts{
<script type="text/javascript">
    $(document).ready(function () {
        // Init Wizard
        demo.initLBDWizard();    
        
        if(@Model.Item2.idcaller != null && @Model.Item2.idcaller > 0)
        {
            
            $('#tab1').hide();          
            $('#collapse1').removeClass('active');
            $('#collapse1').hide();
            $('#collapse2').addClass('active');
            $('#tab2').addClass('show active');           
        }

    });
    function getmobileno(mobileno) {
        
        
         //alert(ab);
        $.ajax({
            //url: ab.substring(0, ab.indexOf("?")) + "/GetCallerInquirtyByMobile/",
            cache: false,
            async: false,
            url: '/Inquiry/GetCallerInquirtyByMobile/',
            type: 'POST',  
            beforeSend: function (xhr) {
                xhr.setRequestHeader("x-ajax-call", "no-cache");
            },
            crossDomain: true,
            data: {
                Mobile: mobileno
            },
            error: function () {
                $('#info').html('<p>An error has occurred</p>');
            },
            dataType: 'json',
            success: function (data) {
                console.log(data);
                BindDataCaller(data.callerDetails);
            //    BindDataInquiry(data.inquiryDetails);
            }

        });

        return false;
    }

    function BindDataCaller(data)
    {
        alert(data.Mobile);
        $('#Item2_Address').val(data.Address);
        $('#Item2_BusinessPhone').val(data.BusinessPhone);
        $('#Item2_CallerType').val(data.CallerType);
        $('#Item2_City').val(data.City);
        $('#Item2_Company').val(data.Company);
        $('#Item2_CountryRegion').val(data.CountryRegion);
        $('#Item2_Email').val(data.Email);
        $('#Item2_FaxNumber').val(data.FaxNumber);
        $('#Item2_FirstName').val(data.FirstName);
        $('#Item2_HomePhone').val(data.HomePhone);
        $('#Item2_IsActive').val(data.IsActive);
        $('#Item2_JobTitle').val(data.JobTitle);
        $('#Item2_Mobile').val(data.Mobile);           
        $('#Item2_State').val(data.State);
        $('#Item2_WebPage').val(data.WebPage);
        $('#Item2_ZipCode').val(data.ZipCode);
        $('#Item2_attachmentdoc').val(data.attachmentdoc);
        $('#Item2_attachmentphoto').val(data.attachmentphoto);
        $('#Item2_bankaccount').val(data.bankaccount);
        $('#Item2_idcaller').val(data.idcaller);
        $('#Item2_pancardnos').val(data.pancardnos);
    }

  
</script>
}
